<div class="page-header">
  <h4>{{ site.posts.first.title }} {% if site.posts.first.tagline %}<small>{{site.posts.first.tagline}}</small>{% endif %}</h4>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span>{{ site.posts.first.date | date: "%Y-%m-%d" }}</span>
    </div>
    <div class="content">
      {{ site.posts.first.content  }}
    </div>

  {% unless site.posts.first.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = site.posts.first.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% unless site.posts.first.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = site.posts.first.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  

    <hr>
    <div class="pagination">
      <ul>
     {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">&larr;上一篇 </a></li>
      {% else %}
        <li class="next disabled"><a>&larr;上一篇 </a>
      {% endif %}
	  <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">更多</a></li>
	  {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"> 下一篇&rarr;</a></li>
      {% else %}
        <li class="prev disabled"><a> 下一篇&rarr;</a></li>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>