

{% for post in site.posts limit:5 %}
<div class="index_post">
  <section class="section">
   <article>
      <div class="page-header">
        <h5><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h5>
      </div>

	  
      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first % }}
      {% else %}
        {{ post.content | strip_html | truncatewords:50 }}
      {% endif %}
		<div class="index_post_foot">
			{% unless post.categories == empty %}
				<div class="index_post_foot_category">
					<span>分类 &nbsp;<a href="categories.html#{{ post.category }}-ref">{{ post.category }}</a></span>
				</div>
			{% endunless %}
			<div class="index_post_foot_date">
				<span>发表于 &nbsp; {{ post.date | date: "%Y-%m-%d" }}</span>
			</div>
			<div  class="index_post_foot_more">
				<span><a  href="{{ BASE_PATH }}{{ post.url }}">Read more>>></a></span>
			</div>
		</div>
    </article>
  </section>
  </div>
{% endfor %}
